{% load socialaccount %}
{#{% providers_media_js %}#}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{ request.user.username }}
    <a href="{% provider_login_url "facebook" method="oauth2" %}">Login with fb</a>
    <a href="{% provider_login_url "google" %}">Login with ggg</a>
</body>
</html>